@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(./background.jpeg);
}

.container{
    width: 600px;
    background: transparent;
    border: 2px solid rgba(62, 88, 121,.2);
    backdrop-filter: blur(9px);
    color:rgb(62, 88, 121);
    border-radius: 13px;
    padding: 30px 40px;
    align-items: center;
}

h1{
    text-align:center;
    font-size: 39px;
    font-weight: 600;
    padding-bottom:26px;
    letter-spacing: 0.5;
    color:#213555;
}

.sl {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.google-btn{
    width:48%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(216, 196, 182, .2);
    border-radius: 40px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color:#D8C4B6 ;
    font-weight: 500;
    line-height: 1;
    transition:all .4s ease-in-out;
    padding-left: 0;
}

.google-btn:hover{
    transform: scale(1.05);
}

input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 24px;
    color:#D8C4B6;
    padding: 20px,45px,20px,20px;
    padding-left:20px;
}

input::placeholder{
    color:#D8C4B6;
}

p {
    text-align: center;
    margin-top: 15px;
    color:#D8C4B6;
}

p a {
    color: #D8C4B6;
    font-weight: 500;
}

p a:hover {
    text-decoration: underline;
}

select{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 24px;
    color:#D8C4B6;
    padding: 20px,45px,20px,20px;
    padding-left:20px;
}
